:root{
	--delay:.3s;
}
.big-banner{
	padding:6rem 8rem;
	&__inner{

	}
	&__text{
		font-family: Montserrat, sans-serif;
		font-size:1.34375rem;
		text-align: center;
		line-height:3;
		padding:1.5rem 26rem;
		opacity:0;
		animation:reveal 1.5s forwards var(--delay);
	}

	
}

@keyframes reveal {
	from{
		translate: 0 20px;
	}
	to {
		translate:none;
		opacity:1
	}
}