.header-menu{

	display:flex;
	margin-inline:auto;
	&__item{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 11px;
		padding: 7.5px 15px;
		margin-right:1rem;
		&:last-child{
			margin-right: 0;
		}
	}
}