$letterCount:5;
.header-logo{
	&__letter{
		position:relative;
		transition: opacity 2s linear;
		opacity:0;
		display:inline-block;
		padding:3px;
		color:white;
		font-size:4rem;
		&--animated{
			animation: fadeIn .5s calc(var(--index) * .5s) both,
			fadeOut .5s calc( (var(--negativeIndex) * .5s) + calc(.5s * $letterCount))
			forwards;
			animation-fill-mode: forwards;  
		}
	}

}

@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

@keyframes fadeOut{
	100%{
		opacity:0;
	}
	0%{
		opacity:1;
	}
}
	


