:root{
	--colorNav:#caafa8;
}

html{
	width: 100%;
	overflow-x:hidden;
}
body{
	width: 100%;
}

@font-face {
	font-family: "Noto Serif Oriya";
	src: 
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Regular/NotoSerifOriya-Regular.ttf') format('ttf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Regular/NotoSerifOriya-Regular.ttf') format('woff'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Regular/NotoSerifOriya-Regular.ttf') format('woff2');

	font-weight:400;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family: "Noto Serif Oriya";
	src: 
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Medium/NotoSerifOriya-Medium.ttf') 
	format('ttf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Medium/NotoSerifOriya-Medium.ttf') 
	format('woff'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Medium/NotoSerifOriya-Medium.ttf') 
	format('eot'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Medium/NotoSerifOriya-Medium.ttf')
	 format('otf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Medium/NotoSerifOriya-Medium.ttf')
	 format('woff2');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family: "Noto Serif Oriya";
	src: 
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-SemiBold/NotoSerifOriya-SemiBold.ttf') 
	format('ttf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-SemiBold/NotoSerifOriya-SemiBold.ttf') 
	format('woff'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-SemiBold/NotoSerifOriya-SemiBold.ttf') 
	format('eot'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-SemiBold/NotoSerifOriya-SemiBold.ttf')
	 format('otf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-SemiBold/NotoSerifOriya-SemiBold.ttf')
	 format('woff2');	
	font-weight:600;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family: "Noto Serif Oriya";
	src: 
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Bold/NotoSerifOriya-Bold.ttf') 
	format('ttf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Bold/NotoSerifOriya-Bold.ttf') 
	format('woff'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Bold/NotoSerifOriya-Bold.ttf') 
	format('eot'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Bold/NotoSerifOriya-Bold.ttf')
	 format('otf'),
	url('../fonts/Noto_Serif_Oriya/static/NotoSerifOriya-Medium/NotoSerifOriya-Bold/NotoSerifOriya-Bold.ttf')
	 format('woff2');	
	font-weight:700;
	font-style:normal;
	font-display:swap;
}

