.swiper {
	width: 100%;
}
.catalog-widget {
	padding: 2rem 4rem;
	height: 1700px;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__slider {
		width: 80%;
	}
}

.catalog-widget__side-slider .swiper-slide {
	width: 8vw;
	margin-top: 1rem;
}
.catalog-widget__side-slider .swiper-slide {
	margin-top: 0;
}
.swiper-vertical > .swiper-wrapper {
	height: 1700px;
}

.swiper-vertical .swiper-slide {
	flex-shrink: 1;
	display: flex;
	justify-content: flex-start;
}
.swiper-vertical .swiper-slide img {
	height: 100%;
}
.catalog-widget__side-slider .swiper-slide img {
	width: 100%;
}
.swiper-slide {
	width: auto;
}
