.header{
	font-size:1rem;
	display:flex;
	flex:1 1;
	background-color: var(--colorNav);
	&__inner{
		display:flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__logo{
		display:inline;
	}
	&__auth{
		display:inline;
	}
	&__menu{
		flex:1 1;
		text-align: center;
		display:flex;
	}
}