$margin:100px;
.big-slider{
	background-color: #CAAFA8;
	padding:7.5rem 0;
	&__container--moved{
		margin-left:-$margin;
	}
	.swiper-slide:first-child.swiper-slide-visible{
		margin-left:$margin;
	}
	.swiper-slide{
		padding-inline:4rem;
	}
	&__titles{
		text-align: center;
		color:white;
		padding:2rem 0;
		line-height:2;
		font-size:3rem;

	}
	&__title{
		font-weight:500;
		text-transform: capitalize;
	}
	&__subtitle{
		font-weight:300;
		font-size:.5em;
	}
	.swiper-button-next::after, .swiper-button-prev::after {
		font-size: 30px;
		color: white;
		border-radius: 50%;
	}
	.slider-big-item__img{
		max-height:500px;
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: 30px;
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 30px;
	}
	.swiper-button-next, .swiper-button-prev {
		background: pink;
		width: 65px;
		height: 65px;
		border-radius: 108%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.3rem;
		border: 2px solid white;
		opacity:0;
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		opacity:.35;
		background-color: #ffdfe5;
	}
	&--in-focus .swiper-button-next, &--in-focus .swiper-button-prev {
		animation: fromBottom .15s ease-in forwards;
	}
	&--out-of-focus .swiper-button-next, &--out-of-focus .swiper-button-prev {
		animation: toBottom .15s ease-in forwards;
	}

}

@keyframes fromBottom {
	from{
		transform:translateY(-100%);
		opacity:0;
	}
	to{
		transform:translateY(0%);
		opacity:1;
	}
}

@keyframes toBottom {
	from{
		transform:translateY(0%);
		opacity:1;
	}
	to{
		transform:translateY(-100%);
		opacity:0;
	}
}